@import './../variables';
@import './../mixins';

.button {
  @include flex-setting(flex, row, space-between, center, nowrap);
  border-radius: 25px;
  padding: 0 15px;
  transition: background-color $duration linear;

  &_basket {
    color: #fff;
    background-color: $orange;
    height: 50px;
    padding: 0 20px;
    white-space: nowrap;

    &:hover {
      background-color: #e4551b;
    }

    & > .total-price {
    }

    & > .delimiter {
      display: block;
      width: 2px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 0 10px;
    }

    & > .total-count {
      & > i {
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }

  &_add {
    border: 1px solid $orange;
    background-color: #fff;
    color: $orange;
    height: 40px;

    & > i {
      font-size: 14px;
      margin-right: 5px;
    }

    &:hover {
      color: #fff;
      background-color: $orange;

      & > .pizza-count {
        background-color: #fff;
        color: $orange;
      }
    }

    & > .pizza-count {
      @include flex-setting(flex, row, center, center, no-wrap);
      @include font-style(0.9rem, 500);
      width: 25px;
      height: 25px;
      background-color: $orange;
      border-radius: 50%;
      color: #fff;
      margin-left: 10px;
    }

    & > .pizza-count.hidden {
      display: none;
    }
  }
}
