@import './../variables';
@import './../mixins';

.button {
  @include flex-setting(flex, row, space-between, center, nowrap);
  padding: 0 15px;
  transition: background-color $duration linear;

  &_basket {
    @include flex-setting(flex,row,center,center,nowrap);
    border-radius: 25px;
    color: #fff;
    background-color: $orange;
    height: 50px;
    padding: 0 20px;
    white-space: nowrap;
    margin-right: 20px;
    &:hover {
      background-color: #e4551b;
    }

    & > .total-price {
    }

    & > .delimiter {
      display: block;
      width: 2px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 0 10px;
    }

    & > .total-count {
      & > .icon {
        margin-right: 5px;
        font-size: 14px;
      }
    }
    @media (max-width: 700px) {
      & {
        height: 40px;
      }
    }
  }

  &_add {
    border: 1px solid $orange;
    border-radius: 25px;
    background-color: #fff;
    color: $orange;
    height: 40px;
    padding: 0 25px;

    & > .icon {
      font-size: 14px;
      margin-right: 5px;
    }

    &:hover {
      color: #fff;
      background-color: $orange;

      & > .pizza-count {
        background-color: #fff;
        color: $orange;
      }
    }

    & > .pizza-count {
      @include flex-setting(flex, row, center, center, no-wrap);
      @include font-style(0.9rem, 500);
      width: 25px;
      height: 25px;
      background-color: $orange;
      border-radius: 50%;
      color: #fff;
      margin-left: 10px;
    }

    & > .pizza-count.hidden {
      display: none;
    }
  }

  &_back {
    @include flex-setting(flex,row,center,center,nowrap);
    color: #777777;
    border: 1px solid #777777;
    border-radius: 25px;
    transition: background-color $duration linear;

    &:hover {
      background-color: #000;
    }

    & > span {
      margin-left: 10px;
    }
  }

  &_pay {
    height: 40px;
    margin:0;
  }

  &_signIn {
    width: 70px;
    text-align: center;
  }
}