@import './../variables';
@import "./../mixins";

.categories {

  &__item {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $gray;
    padding: 10px 20px;
    border-radius: 20px;
    @include font-style(1rem, bold);
    color:$black;
    transition: background-color $duration linear;
    margin: 0 10px 10px 0;
    &:hover {
      background-color: $black;
      color:#fff;
    }

    &.current {
      background-color: $black;
      color:#fff;
    }

  }
}
