@import './../variables';
@import './../mixins';

.pizzas {
  position: relative;
  min-width: 100%;
  &__inner {
    @include flex-setting(flex, column, center);
    padding: 20px 0;
    & > h2 {
      margin-bottom: 30px;
      @media (max-width: 425px) {
        & {
         font-size:1.5rem;
        }
      }
    }
  }
  &__items-box {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(320px,max-content));
    grid-gap: 50px 50px;
    width: 100%;
  }

  &__item {
    @include flex-setting(flex, column, flex-start, center, wrap);
    max-width: 320px;
    padding:5px;
    box-shadow: 0 0 5px 1px #f6f6f6;
  }

  &__item-img-box {
    max-width: 250px;
    margin-bottom: 10px;
  }

  &__item-img {
    max-width: 100%;
    width: 100%;
  }

  &__item-name {
    @include font-style(1.4rem, 800);
    margin-bottom: 10px;
  }
  &__item-composition {
    max-width: 90%;
    min-height: 100px;
    text-align: center;
    @include font-style(0.9rem, 400);
    color:rgb(115, 121, 140);

  }

  &__item-options {
    @include flex-setting(inline-flex, column, center, center);
    min-width: 90%;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
  }

  &__dough-box {
    @include flex-setting(flex, space-around, center, wrap);
    border-bottom: 1px solid $black;
    padding: 5px;
  }

  &__options-item {
    @include flex-setting(inline-flex);
    @include font-style(1rem, 700);
    color: $black;
    border-radius: 5px;
    text-transform: lowercase;
    background-color: #f6f6f6;
    border: none;
    padding: 10px 15px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }

    &:hover.disabled {
      background-color: inherit;
    }

    &.selected {
      background-color: $orange;
      color:#fff;
    }

  }

  &__size-box {
    padding: 5px;
  }

  &__item-footer {
    @include flex-setting(flex, row, space-between, center);
    width: 90%;
  }

  &__item-price {
    margin-right: 10px;
    @include font-style(1.4rem, 700);
  }
}
