@import "./../variables";
@import "./../mixins";

.basket {
  display:flex;
  justify-content: center;
  min-width: 100%;
  &__inner {
    @include flex-setting(flex, column, flex-start, center, nowrap);
    margin: 0 auto;
    padding: 50px 0;
    max-width: 80%;
  }

  &__header {
    @include flex-setting(flex, row, space-between, center, nowrap);
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid $gray;

    &-left-part {
      @include flex-setting(flex, row, center, center, nowrap);
      @include font-style(1.2rem, 700);

      & > span {
        margin-left: 10px;
        @include font-style(1.6rem, 700);
        color: #000;
      }
    }

    &-right-part {
      @include flex-setting(flex, row, center, center, nowrap);
      cursor: pointer;
      color: #D7D7D7;
      transition: color $duration linear;

      &:hover {
        color: #000;
      }

      & > span {
        margin-left: 10px;
      }
    }
  }

  &__content {
   @include flex-setting(flex, column, center, space-between, nowrap);
    width: 100%;
    &-total {
      @include flex-setting(flex, row, space-between, center, nowrap);
      @include font-style(1.2rem, 500);
      margin-top: 10px;
      &-price {
        & > b {
          color: $orange;
        }
      }
    }
    white-space: nowrap;
  }

  &__item {
    @include flex-setting(flex, row, space-between, center, nowrap);
    padding: 10px 0;
    border-bottom: 1px solid $gray;



    &-img-option-box{
     @include flex-setting(flex, row, flex-start, center, nowrap);
      max-width: 300px;
      width: 100%;
    }

    &-img-box {
      min-width: 100px;
      max-width: 100px;
      margin-right: 10px;
    }

    &-img {
      max-width: 100%;
    }

    &-option-box {
      @include flex-setting(flex, column, center, flex-start, nowrap);
    }

    &-name {
     @include font-style(1.2rem, 700);
    }

    &-option {
      color: #8D8D8D;
    }

    &-count-box {
     @include flex-setting(flex, row, center, flex-start, nowrap);
    }

    &-icon {
      display: block;
      padding: 0 5px;
      height: 23px;
      background-color: #fff;
      border: 1px solid $orange;
      border-radius: 50%;
      color: $orange;
      font-size: 1.7rem;
      margin: 0 10px;
      cursor: pointer;
      transition: background-color $duration linear;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }

      &.times {
        border: none;
        font-size: 2.3rem;
        color: #D7D7D7;
        transition: color $duration linear;
      }

      &:hover.times {
        background-color: transparent;
        color: #e41b1b;
      }
    }

    &-count {
      @include font-style(1.2rem, 700);
    }

    &-price {
      @include font-style(1.2rem, 700);
      width: 120px;
    }

  }

  &__footer {
    @include flex-setting(flex, row, space-between, center, nowrap);
    width: 100%;
    margin-top: 20px;
  }



  &__empty-inner {
    @include flex-setting(flex, column, center, center, nowrap);
    height: 100%;
    padding: 50px 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    &>h2 {
      margin-bottom: 10px;
    }
    &>span {
      color:#777777;
    }
  }
  &__empty-img {
    margin: 50px 0;
    max-width: 300px;
  }
}
