@import './../variables';
@import '../mixins';

.sort {
  position: relative;
  @include flex-setting(flex, row, center, center, nowrap);
  min-width: 250px;

  &__label {
    position: relative;
    margin-right: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -25px;
      display: block;
      width: 25px;
      height: 10px;
      background: url('../../assets/img/arrow-top.svg') no-repeat center center;
      transition: transform $duration linear;
      transform: rotate(180deg);
    }
  }

   &.open &__label::before {
    transform: rotate(0deg);
  }

  &__name {
    color: $orange;
    border-bottom: 1px dashed $orange;
    cursor: pointer;
  }

  &__popup {
    display:none;
    position: absolute;
    top: 30px;
    right: -25px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px $orange;

    &-item {
      padding: 10px 10px;
      cursor: pointer;
      width: 100%;

      &:hover {
        color: $orange;
        background-color: rgba(254, 95, 30, 0.05);
      }
    }

    &.open {
      z-index:1000;
      @include flex-setting(flex, column, center, flex-start, nowrap);
    }
  }

}
