@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

html,body {
  height: 100%;
}
#root {
  min-height: 100%;
}
body {
  background-color: $background;
  font-size: 16px;
  @include noselect;
  margin: 0 auto;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 550px) {
    font-size: 13px;
  }
  @media (max-width: 375px) {
    font-size: 12px;
  }
}

.container {
  min-width: $container-width;
  height: 100%;
  padding: 0 150px;
  @media (max-width: 1440px) {
    padding: 0 60px;
  }
  @media (max-width: 1024px) {
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    padding: 0 20px;
  }
  @media (max-width: 550px) {
    padding: 0 10px;
  }
  @media (max-width: 375px) {
    padding: 0;
  }
}

.disabled {
  color: $disabled;
  cursor: inherit;
}

main {
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  @media screen and (max-width:700px) {
    min-height: 82vh;
  }
}

.spinner-box {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 95vh;
}

