@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $background;
  max-width: 1440px;
  padding: 45px;
  font-size: 16px;
  @include noselect;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.app-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.container {
  padding: 0 50px;
  min-width: $container-width;
}
main {
  @include flex-setting(flex,column,center,space-between,nowrap);
  min-height: 50vh;
}
